*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter" ;
}

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }

  .navbar{
    list-style-type: none;
    padding: 10px 20px;
  }

  text1 text2 text3{
    color: white;
  }

  span{
    color: #ea1538;
  }
  h2{
    color: white;
  }
  
  a{
    color: white;
    display: inherit;
  }

  a.text2{
    display: flex;
    
  }
 
  

 
  